doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width")
    meta(name="description",content='#{description}')
    link(href='https://fonts.googleapis.com/css?family=Play:700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', media='all and (max-width: 900px)', href='/stylesheets/responsive.css')
    link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-latest.min.js", type="text/javascript")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js")
    script(src='/javascripts/jquery.nicescroll.min.js')
  body 
    block content